{% extends "richie/fullwidth.html" %}
{% load cms_tags i18n extra_tags thumbnail %}

{% block meta %}
{# Make sure course snapshot pages are not indexed by search engines #}
{% if current_page.parent_page.course %}<meta name="robots" content="noindex">{% endif %}
{% endblock meta %}

{% block content %}{% spaceless %}
<div class="course-detail">
  {% spaceless %}

    {% with course=current_page.course header_level=2 %}

    <div class="course-detail__content course-detail__content--two">

      {% if request.current_page.parent_page.course %}
      <div class="course-detail__content__snapshot">
        <div class="course-detail__content__snapshot__date">
          {% blocktrans with creation_date=request.current_page.creation_date|date:"SHORT_DATE_FORMAT" %}
          Archived on {{ creation_date }}
          {% endblocktrans %}
        </div>
        <a href="{{ request.current_page.parent_page.get_absolute_url }}">{% trans "Go to current version" %}</a>
      </div>
      {% endif %}

      <h1 class="course-detail__content__title">
        {% if request.current_page.parent_page.course %}
          {{ request.current_page.parent_page.get_title }}
        {% else %}
          {% render_model request.current_page "title" %}
        {% endif %}
      </h1>

      {% if current_page.publisher_is_draft or not current_page|is_empty_placeholder:"course_introduction" %}
      <div class="course-detail__content__row course-detail__content__introduction">
        {% page_placeholder "course_introduction" current_page %}
      </div>
      {% endif %}

      {% if current_page.publisher_is_draft or not current_page|is_empty_placeholder:"course_icons" or not current_page|is_empty_placeholder:"course_categories" %}
      <div class="course-detail__content__row course-detail__content__categories">
        {% with form_factor="tag" %}
          {% placeholder "course_icons" %}
          {% page_placeholder "course_categories" current_page or %}
            {% if current_page.publisher_is_draft and current_page|is_empty_placeholder:"course_icons" %}
              <p class="course-detail__content__categories__placeholder">
                {% trans "No associated categories" %}
              </p>
            {% endif %}
          {% endpage_placeholder %}
        {% endwith %}
      </div>
      {% endif %}

      {% include "courses/cms/fragment_course_content.html" with page=current_page %}
    </div>

    {% endwith %}

  {% endspaceless %}
</div>
{% endspaceless %}{% endblock content %}
