///
/// Color palette as named variable
///

$black: #000000;
$white: #ffffff;
$gray7: #111111;
$gray17: #2b2b2b;
$gray20: #333333;
$gray40: #666666;
$gray80: #cdcdcd;
$gray97: #f7f7f7;
$gray98: #fafafa;
$snow2: #edeeef;
$coral2: #f06d54;
$cyan4: #009fa1;
$deeppink4: #9c005d;
$dodgerblue1: #07355E;
$dodgerblue3: #335280;
$dodgerblue5: #0075b4;
$dodgerblue7: #0075b4;
$firebrick3: #c7162b;
$firebrick6: #6FA8DC;
$forestgreen: #0e8420;
$orange2: #f99b11;
